<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="logs/nlog-internal.log"
      internalLogLevel="Info" >

  <variable name="logDirectory" value="${basedir}/logs"/>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="targetGeneralOutput" fileName="${logDirectory}/neo-sharp-general.log"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />    
    <target xsi:type="File" name="targetNetwork" fileName="${logDirectory}/neo-sharp-network.log"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />
    <target xsi:type="File" name="targetNetworkActorServer" fileName="${logDirectory}/neo-sharp-network-actorserver.log"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />
    <!--<target xsi:type="Console" name="targetConsole"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" /> -->
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>    
    <!--<logger name="*" minlevel="Trace" writeTo="target1,target2" /> -->
    <logger name="*" minlevel="Trace" writeTo="targetGeneralOutput" />
    <logger name="NeoSharp.Network.*" minlevel="Trace" writeTo="targetNetwork" />
    <logger name="NeoSharp.Network.ActorServer" minlevel="Trace" writeTo="targetNetworkActorServer" />
  </rules>
</nlog>